<div class="form-group row justify-content-center">
    {{!-- <form id="login-form" class="col-4"> --}}
        <div class="mb-4">
            <label for="email-login">Email:</label>
            <input type="email" id="email-login">
        </div>
        <div class="mb-4">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login">
        </div>
        <div class="col-6">
            {{!-- <button class="btn btn-primary" id="submitBtn">Login</button> --}}
            <button class="btn btn-primary" id="submitBtn">SUBMIT</button>
        </div>
        <p>Don't have an account? </p><a class="btn btn-primary" href="/signup" role="button">Signup</a>

</div>

<script src="/js/login.js"></script>